body {
  background: #141414;
  color: #fff;
}

/* App.css */
::-webkit-input-placeholder {
  color: white; /* Color del texto del placeholder */
}

:-moz-placeholder {
  color: white; /* Color del texto del placeholder */
}

::-moz-placeholder {
  color: white; /* Color del texto del placeholder */
}

:-ms-input-placeholder {
  color: white; /* Color del texto del placeholder */
}
